/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  max-width: 100%;
  overflow-x: hidden;
} */

/* .main-container,
.main-container * {
  box-sizing: border-box;
}  */

input,
select,
textarea,
button {
  outline: 0;
}

.main-container-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  position: relative;
  width: 1440px;
  margin: 0 auto;
  padding: 14px 130px 14px 50px;
}
.nav-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  width: 531px;
  padding: 13px 68px 13px 68px;
  cursor: pointer;
  background: #f6f6fc;
  border: none;
  z-index: 3;
  /* overflow: hidden; */
  border-radius: 50px;
}
.frame-1-header {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 50px;
  position: relative;
  width: 395px;
  z-index: 4;
}
.home-header {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 19px;
  color: #3056d3;
  font-family: Lato, serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  text-align: left;
  white-space: nowrap;
  z-index: 5;
}
.about-us-header {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 19px;
  color: #3d3d3d;
  font-family: Lato, serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  text-align: left;
  white-space: nowrap;
  z-index: 6;
}
.services-header {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 19px;
  color: #3d3d3d;
  font-family: Lato, serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  text-align: left;
  white-space: nowrap;
  z-index: 7;
}
.contact-us-header {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 19px;
  color: #3d3d3d;
  font-family: Lato, serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  text-align: left;
  white-space: nowrap;
  z-index: 8;
}
.stars-header {
  flex-shrink: 0;
  position: relative;
  width: 22.381px;
  height: 22.381px;
  background-size: cover;
  z-index: 2;
  /* overflow: hidden; */
}
.frame-2-header {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 8px;
  position: relative;
  width: 160px;
  padding: 8px 24px 8px 24px;
  cursor: pointer;
  background: #6c63ff;
  border: none;
  z-index: 9;
  border-radius: 8px;
}
.login-header {
  flex-shrink: 0;
  position: relative;
  width: 24px;
  height: 24px;
  background: url(../src/assets/icons/Group.svg)
    no-repeat center;
  background-size: cover;
  z-index: 10;
  /* overflow: hidden; */
}
.get-started-header {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 19px;
  color: #ffffff;
  font-family: Lato, serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  text-align: left;
  white-space: nowrap;
  z-index: 11;
}
.smart-quiz-header {
  flex-shrink: 0;
  position: relative;
  height: 24px;
  color: #2f2e41;
  font-family: Lato, serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: -0.32px;
  z-index: 1;
}

@media only screen and (max-width: 767px) {
  .frame-1 {
    gap: 10px; /* Adjust gap for mobile view */
    width: 100%; /* Use 100% width to make it responsive */
  }
  .home, .about-us, .services, .contact-us {
    white-space: normal; /* Allow text to wrap on smaller screens */
    text-align: center; /* Center text on smaller screens */
  }
  .stars {
    display: none; /* Hide stars on smaller screens */
  }
  .frame-2 {
    width: 100%; /* Use 100% width to make it responsive */
  }
}