.body{
    /* overflow-x: hidden; */
    margin: 0;
}

.grid-container-question-preview-body{
    display: grid;
    grid-template-rows: auto;
    row-gap: 10px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;    /*To center div's*/
    margin-top: 10px;
    margin-bottom: 10px;
}
.grid-item-question-preview-body{
    width: 536px;
    height: 248px;
   
    display: flex;
padding: 16px;
flex-direction: column;
align-items: flex-start;
gap: 24px;
border-radius: 8px;
border: 1px solid var(--Grey-200, #EAECF0);
}
.question-edit-delete-tab{
    width: 504px;
    height: 24px;
    display: flex;
justify-content: space-between;
align-items: center;
align-self: stretch;

display: grid;
grid-template-columns: auto auto auto auto;
column-gap: 30px;
}
.question-content{
    align-self: stretch;
    color: #000;
font-family: Lato;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 24px; /* 133.333% */
letter-spacing: -0.18px;
width: 504px;
height: 48px;
margin-bottom: -2px;
}

.question-edit-delete-tab img{
    width: 24px;
    height: 24px;
}
.question-edit-delete-tab h3{
color: var(--Main-Text, #101828);
font-family: Lato;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
padding-top: -2px;
}
.option-answer-tab{
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 5px;
    width: 504px;
    height: 200px;
   
align-items: flex-start;
gap: 10px;
}
.grid-items-answer{
    width: 231px;
    height: 48px;
    display: flex;
align-items: center;
gap: 4px;

}
.grid-items-answer img{
    width: 24px;
    height: 24px;
}
.grid-items-answer h4{
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    letter-spacing: -0.16px;
    width: 203px;
}
.create-new-question-button{
    display: flex;
    padding: 8px 24px;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
background: rgba(108, 99, 255, 0.20);
width: 300px;
height: 40px;
justify-content: center;
margin-left: auto;
margin-right: auto;
}
.create-new-question-button img{
    width: 24px;
    height: 24px;
}

.create-new-question-button span{
color: var(--Primary, #6C63FF);
font-family: Lato;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: normal;
width: 200px;
height: 19px;
}
.button-btn{
    margin-top: 20px;
}