body{
    max-width: 100%;
    /* overflow: hidden; */
    margin: 0;
}

.grid-container-signup{
    display: grid;
    grid-template-columns: auto auto;
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
    margin: 50px 55px;
}


.grid-item-signup{
    display: inline-flex;
    height: 1024px;
    justify-content: flex-end;
    align-items: center;
    gap: 30px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 30px;
}
.form-table{
    width: 450px;
}

.top-form{
    margin-top: -70px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    position: relative;
}

.google-button{
    margin: 0 auto;
    width: 400px;
    height: 48px;
    display: flex;
    padding: 12px 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    border-radius: 8px;
    border: 1px solid #D0D5DD;
    background: #FFF;
}
.googe-text{
    color: #98A2B3;
    font-family: Inter, serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}
#img6{
    width: 24px;
    height: 24px;
}


.form-proper{
    margin-top: -10px;
    width: 450px;
    height: 750px;
}


.SQ-text{
    color: #2F2E41;
    font-family: Lato, serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -0.32px;
}
.createAcct-text{
    color:  #101828;
    font-family: Lato, serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
}

.label{
    color: #000;
    font-family: Lato, serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    letter-spacing: -0.16px;
}
.input-field{
    width: 450px;
    height: 40px;
    display: flex;
    align-items: flex-start;
    /*background-color: white;*/
    font-family: Lato, serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 200;
    line-height: 24px;
    letter-spacing: -0.16px;
    color: #000;
    border: 1px solid black;
}

.single-input-field{
    margin: 20px 0;
}

.button-cta{
    margin-top: 5px;
    display: flex;
    width: 450px;
    height: 44px;
    padding: 12px 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    background: #6C63FF;
    color: #FFF;
    font-family: Inter, serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
}

.alreadyHaveAnAcct{
    padding-top: 20px;
    color: black;
    text-align: center;
    font-family: Inter, serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.alreadyHaveAnAcct > span{
    color: #6C63FF;
    font-family: Inter, serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    text-decoration-line: underline;
}

.email-sent-img{
    width: 150px;
    height: 131.818px;
}

.modal-design{
    width: 491px;
    padding: 32px;
    align-items: center;
    gap: 24px;
    border-radius: 16px;
    background: #FFF;
}
.modal-body{
    display: flex;
    gap: 10px;
    color: #6C63FF;
    font-family: Lato, serif;
    font-size: 23px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; /* 32.2px */
    letter-spacing: 0.15px;
}
.modal-close{
    display: flex;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-radius: 8px;
    background: #6C63FF;
    width: 427px;
    height: 46px;
    color: white;
}

.modal-forgot {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.modal-forgot.show {
    display: block;
}

.modal-container-forgot {
    width: 544px;
    height: 380px;
    position: absolute;
    top: calc(50% - 171px);
    left: calc(50% - 272px);
    padding: 32px;
    border-radius: 10px;
    background: #FCFCFD;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal-title-forgot {
    width: 380px;
    height: 32px;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0;
    text-align: center;
    gap: 383px;
    color: #6C63FF;
    margin-top: -60px;
}


.icon-forgot {
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    background: #EFF8FF;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.text-body-forgot {
    width: 480px;
    height: 22px;
    margin-bottom: 30px;
    color: #828282;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0;
    text-align: center;
    margin-top: 10px;
}

.modal-button-forgot {
    position: absolute;
    width: 482px;
    height: 44px;
    padding: 12px 10px 12px 10px;
    border-radius: 12px;
    gap: 16px;
    background: #6C63FF;
    top: 150px;
    font-family: Inter;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0;
    color: #FFFFFF;
    text-align: center;
    margin-top: 150px;
    margin-left: -228px;
}
