

.footer{
    margin-top: 100px;
    position: relative;
    width: 1440px;
height: 309px;


}

.main-footer{
    background: var(--Primary, #6C63FF);
    text-align: center;
    height: 309px;

}

.footer-text{
    padding-top: 30px;
    color: var(--White, #FFF);
font-family: Lato;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 24px; /* 75% */
letter-spacing: -0.32px;
}
.footer-container{
    display: inline;
    width: 1440px;
height: 309px;

}

#img1, #img2, #img3, #img4 {
    width: 7px;
    padding: 0 5px;
height: 14px;
flex-shrink: 0;
}
.tiny-text{
    padding-top: 50px;
    color: #FFF;
    text-align: center;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; 
    width: 787px;
    margin-left: auto;
margin-right: auto;

}

.copyright{
    color: #FFF;
font-family: Lato;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-left: auto;
margin-right: auto;
padding-top: 100px;

}